              /* ======= contenedor general */
.trading-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
}

.trading-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* ======= saldo actial e ingreso de dinero */
.deposit-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--bg-section-content);
  border: 1px solid var(--border-section-content);
  border-radius: 5px;
  padding: 7px;
}

.deposit-button {
  background-color: transparent;
  margin-left: 5px;
  padding: 0 6px;
  border-radius: 4px;
  font-weight: 400;
  border: 1px solid var(--button-border);
}
.deposit-button:hover {
  border: 1px solid var(--button-border-hover);
  color: var(--button-color-hover);
}

/* ===== clase para mostrar el precio de la cripto */
.price {
  margin-left: 1px;
  font-weight: 500;
}

/*  ===== clases del buscador, comisión y compra/ventar */
.trader-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.trade-buttons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5px;
}

.buy-btn,
.sell-btn {
  font-weight: 500;
  border: 1px solid var(--button-border);
  border-radius: 3px;
  padding: 0 5px;
  color: white;
}

.buy-btn {
  background-color: rgb(38, 207, 108);
}
.sell-btn {
  background-color: rgb(245, 64, 64);
}
.buy-btn:hover {
  background-color: rgb(32, 175, 92);
}
.sell-btn:hover {
  background-color:rgb(209, 50, 50);
}
.buy-btn:hover,
.sell-btn:hover {
  color: rgba(255, 255, 255, 0.8);
  border: 1px solid var(--button-border-hover);
}