@charset "UTF-8";
.header {
  width: 60%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  box-sizing: border-box;
}

.header--title {
  color: var(--title-h1);
  font-size: 3.2em;
  font-weight: 700;
  text-align: center;
  margin-bottom: 100px;
}

/* ======= DEPOSITO ======= */
.deposit {
  width: 100%;
  display: flex;
  justify-items: center;
  justify-content: space-between;
  margin: 10px 40px;
  background-color: var(--bg-containers);
  border: 1px solid var(--border-containers);
  border-radius: 7px;
  padding: 10px;
}

.deposit__amount-button {
  padding: 0 6px;
  border: 1px solid var(--button-border);
  border-radius: 3px;
}

.deposit__amount-button:hover {
  background-color: var(--button-bg-hover);
  color: var(--button-color-hover);
  border: 1px solid var(--button-border-hover);
  border-radius: 3px;
}

/* ======= TRADING ======= */
.trading {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  gap: 25px;
}

.trading__section-container {
  width: 100%;
  background-color: var(--bg-containers);
  border: 1px solid var(--border-containers);
  border-radius: 7px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: auto;
}

/* ======= SELECCIÓN */
/* selección de criptomoneda */
.trading__select,
.trading__search--input {
  width: 60%;
}

/* ======= PREVIEW/COMISIÓN */
/* preview del precio */
.trading__preview-price,
.trading__preview-commission--input {
  width: 60%;
}

/* precio y selección de comisión */
.trading__preview-price {
  background-color: rgb(230, 230, 230);
  border-radius: 7px;
  padding: 2px 4px;
}

/* ======= TRADE */
/* botones de compra/venta */
.trading__trade-buttons {
  width: 75%;
  display: flex;
  justify-content: space-between;
}

.trading__button--buy,
.trading__button--sell {
  padding: 0 6px;
  border: 1px solid transparent;
  border-radius: 4px;
  color: white;
}

.trading__button--buy {
  background-color: rgb(27, 180, 103);
}

.trading__button--sell {
  background-color: rgb(235, 21, 21);
}

.trading__button--buy:hover {
  background-color: rgb(17, 153, 85);
}

.trading__button--sell:hover {
  background-color: rgb(204, 16, 16);
}

/* inputs */
.input {
  padding: 0 3px;
}

.section-content {
  width: 100%;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: auto;
  background-color: var(--bg-section-content);
  padding: 10px;
  gap: 10px;
  border: 1px solid var(--border-section-content);
  border-radius: 7px;
  box-sizing: border-box;
}

/* sass --watch src/scss/main.scss src/css/main.css  */
* {
  margin: 0;
  padding: 0;
}

/* ======= MODO CLARO ======= */
:root {
  --bg-body: rgb(255, 255, 255);
  --title-h1: rgb(255, 115, 0);
  --color-text: rgb(0, 0, 0);
  /* clases donde se muestra e ingresa el dinero */
  --bg-containers: rgb(245, 252, 251);
  --border-containers: rgba(0, 0, 0, 0.4);
  /* botones generales */
  --button-border: rgb(0, 0, 0);
  --button-border-hover: rgba(0, 0, 0, 0.5);
  --button-bg-hover: rgb(223, 223, 223);
  --button-color-hover: rgba(0, 0, 0, 0.8);
}

/* ======= MODO OSCURO ======= */
body.dark-mode {
  --bg-body: rgb(24, 26, 32);
  --title-h1: rgb(255, 187, 0);
}

.body {
  background-color: var(--bg-body);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.main {
  padding: 0 25px;
  width: 70%;
  margin: auto;
}

.color-text {
  color: var(--color-text);
}

/*# sourceMappingURL=main.css.map */
